body
{
   background-color: #e8eaec;
   font:             86% Verdana,Tahoma,Arial,sans-serif;
   line-height:      1.4em;
   text-align:       justify;

   background-color: #ffffff;

   margin-top:        1%;
   margin-left:      10%;
   margin-right:     10%;
   margin-bottom:     5%;

   padding:          2%;

   border-width:     2px;
   border-style:     solid;
   border-color:     #a0a0a0;

   min-width:        350px;
}

a
{
   color:            #467aa7;
   font-weight:      bold;
   text-decoration:  none;
   background-color: inherit;
}

a:hover
{
   color:            #2a5a8a;
   text-decoration:  none;
   background-color: inherit;
}

a img
{
   border:           none;
}

h3.subtitle
{
   display:          block;
   margin:           20px 0 16px 0;
   padding:          0 0 3px 0;
   font-size:        1.7em;
   font-weight:      normal;
   line-height:      100%;
   letter-spacing:   -1px;
   color:            #505050;
   background-color: inherit;
   text-align:       left;
   border-bottom:    1px solid #d1d1d1;
}

table
{
   border:           none;
   margin-bottom:    10px;
}

hr
{
   border:           none;
}

h2
{
   color:               white;
   font-size:           1.7em;
   text-shadow:         #505050 2px 2px 1px;
}

table.title
{
   background-image:    url(lsc_logo.png);
   background-position: 98% 78%;
   background-repeat:   no-repeat;
   background-color:    #215797;
   padding:             20px;
   height:              80px;
   margin:              0;
   border-width:        2px;
   border-style:        solid;
   border-color:        #a0a0a0;
}

table.footer
{
   color:               white;
   font-size:           1em;
   background-color:    #215797;
   padding:             20px;
   margin:              0;

   border-width:        2px;
   border-style:        solid;
   border-color:        #a0a0a0;

   text-align:          right;
   text-shadow:         #505050 2px 2px 1px;
}

td
{
   border: none;
   background: none;
}

td.odd
{
   margin-top: 20px;
   border: none;
   background: none;
}

td.code, td.definition
{
   margin-top:       20px;
   border-top:       1px solid #d1d1d1;
   padding:          4px;
}

td.type
{
   border-style dashed;
   border-width: 1px;
   background: none;
}

pre.spark
{
   color: #81f181;
}
